In [1]:
library(nycflights13)
library(tidyverse)

-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 3.2.1     v purrr   0.3.3
v tibble  2.1.3     v dplyr   0.8.3
v tidyr   1.0.0     v stringr 1.4.0
v readr   1.3.1     v forcats 0.4.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

Currently dep_time and sched_dep_time are convenient to look at, but hard to compute with because they’re not really continuous numbers. Convert them to a more convenient representation of number of minutes since midnight.

In [5]:
flights<-mutate(flights,
       dep_time_mins = (dep_time %/% 100) * 60 + (dep_time %% 100),
       sched_dep_time_mins = (sched_dep_time %/% 100) * 60 + (sched_dep_time %% 100))

Compare air_time with arr_time - dep_time. What do you expect to see? _You would expect that: air_time=dep_time−arr_time_  
What do you see? _This does not seem to be the case when you look at air_time_  
What do you need to do to fix it?  _use the converted dep_time_mins and sched_dep_time_mins_

In [11]:
flights<-mutate(flights,air_time_calc=arr_time-dep_time)
  select(flights,air_time, air_time_calc)

       air_time air_time_calc
1      227      313
2      227      317
3      160      381
4      183      460
5      116      258
6      150      186
7      158      358
8       53      152
9      140      281
10     138      195
11     149      291
12     158      295
13     345      366
14     361      365
15     257      382
16      44      143
17     337      295
18     152      251
19     134      237
20     147      243
21     170      210
22     105      219
23     152      252
24     128      231
25     157      251
26     139      199
27     366      334
28     175      312
29     182      424
30     120      218
...    ...      ...
336747  45        100
336748  72        187
336749 213        200
336750  45        101
336751  36         94
336752 298      -2130
336753  47        108
336754 192      -2030
336755 139      -2117
336756  37         96
336757  39        100
336758  50        185
336759  61        136
336760  97         50
336761 120        128
336762  48        104
336763 318      -2121
336764 123      -2176
336765  43        108
336766  41         94
336767  52        107
336768  47        104
336769  33         52
336770 196      -2024
336771  NA         NA
336772  NA         NA
336773  NA         NA
336774  NA         NA
336775  NA         NA
336776  NA         NA

Compare dep_time, sched_dep_time, and dep_delay. How would you expect those three numbers to be related?

You would expect that: dep_delay=dep_time−sched_dep_time
Let’s see if this is the case by creating a var dep_delay2 that uses this definition, then see if it is equal to the original dep_delay

In [8]:
flights<-mutate(flights,dep_delay2 = (dep_time - sched_dep_time))
select(flights,dep_delay,dep_delay2)

       dep_delay dep_delay2
1       2          2
2       4          4
3       2          2
4      -1         -1
5      -6        -46
6      -4         -4
7      -5        -45
8      -3        -43
9      -3        -43
10     -2        -42
11     -2        -42
12     -2        -42
13     -2        -42
14     -2        -42
15     -1        -41
16      0          0
17     -1        -41
18      0          0
19      0          0
20      1          1
21     -8         -8
22     -3         -3
23     -4         -4
24     -4         -4
25      0          0
26      8          8
27     11         11
28      3          3
29      0          0
30      0          0
...    ...       ...
336747  -2        -2
336748  -2        -2
336749  -2        -2
336750  30        70
336751  -9        -9
336752   0         0
336753  13        13
336754   0         0
336755  10        10
336756  -7        -7
336757  -9        -9
336758 194       314
336759  -2        -2
336760  27        67
336761  72       152
336762 -14       -14
336763  80       120
336764 154       234
336765  -8        -8
336766  -5        -5
336767 -10       -10
336768  -5        -5
336769  12        52
336770 -10       -10
336771  NA        NA
336772  NA        NA
336773  NA        NA
336774  NA        NA
336775  NA        NA
336776  NA        NA

Find the 10 most delayed flights using a ranking function. How do you want to handle ties? Carefully read the documentation for min_rank()

In [10]:
?min_rank()

What does 1:3 + 1:10 return? Why? This is returned because 1:3 is being recycled as each element is added to an element in 1:10.

In [9]:
1:3 + 1:10

Warning message in 1:3 + 1:10:
"longer object length is not a multiple of shorter object length"

 [1]  2  4  6  5  7  9  8 10 12 11

What trigonometric functions does R provide? use ?Trig to see the functions cos(x), sin(x), tan(x), sinpi(x),tanpi(x)

In [19]:
head(flights %>% 
  select(dep_delay, tailnum) %>% 
  mutate(rank = min_rank(desc(dep_delay))) %>% 
  arrange(min_rank(desc(dep_delay))),10)

   dep_delay tailnum rank
1  1301      N384HA   1
2  1137      N504MQ   2
3  1126      N517MQ   3
4  1014      N338AA   4
5  1005      N665MQ   5
6   960      N959DL   6
7   911      N927DA   7
8   899      N3762Y   8
9   898      N6716C   9
10  896      N5DMAA  10